.why-us {
    background: rgb(0, 0, 0);
    padding-bottom: 60px;
    padding-top: 100px;
    position: relative;
}

.why-us .left-bg {
    bottom: 80px;
    left: 0;
    position: absolute;
}

.why-us .right-bg {
    position: absolute;
    right: 0;
    top: -100px;
}

.why-us .row {
    margin: -14px;
}

.client-text {
    font-size: 20px;
    color: rgba(240, 248, 255, 0.809);
    text-align: center;
    margin-bottom: 20px;
}

.para {
    color: rgba(255, 255, 255, 0.402);
    text-align: center;
    max-width: 230px;
    font-size: 14px;
}

.image1 {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.why-us .image1 img {
    text-align: center;
    -webkit-transition: all .5s ease;
}

.why-us .image1:hover img {
    transform: scale(-1) rotate(180deg);
}