    * {
        margin: 0;
        padding: 0;
        font-family: 'Raleway', sans-serif;
    }
    
    body {
        height: 100%;
        width: 100%;
        background: #444;
    }
    
    .main {
        position: relative;
        height: 100vh;
        width: 100%;
        color: #fff;
    }
    
    .main .slider {
        position: relative;
        height: 100vh;
        width: 100%;
    }
    
    .main .slider .slides {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: 0.3s ease-in-out;
    }
    
    .main .slider .slides.current {
        z-index: 1;
        opacity: 1;
    }
    
    .main .slider .slides:nth-child(1) {
        background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('https://mediacity.co.in/delici/static/media/slider-1.427b3237a3c8fa6857c0.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        ;
    }
    
    .main .slider .slides:nth-child(2) {
        background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('https://mediacity.co.in/delici/static/media/slider-3.e1ecb94135ee27af4d51.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .main .slider .slides:nth-child(3) {
        background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('https://mediacity.co.in/delici/static/media/slider-2.9451ac56da49c59fb729.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .main .slider .slides .text {
        font-size: 18px;
        font-weight: 500;
        text-shadow: 0px 0.5px 12px rgba(0, 0, 0, 0.9);
        transition: 0.9s linear;
        font-family: initial;
        opacity: 0;
    }
    
    .main .slider .slides.current .text {
        animation: fadeInUp 0.9s linear forwards 1;
        animation-delay: 1s;
    }
    
    .main .slider .slides h1 {
        font-size: 120px;
        font-weight: 500;
        text-shadow: 0px 0.5px 12px rgba(0, 0, 0, 0.9);
        transition: 0.8s linear;
        font-family: initial;
        opacity: 0;
    }
    
    .main .slider .slides.current h1 {
        animation: fadeInUp 0.8s linear forwards 1;
        animation-delay: 0.8s;
    }
    
    .main .slider .slides .subtitle {
        transition: 1s linear;
        opacity: 0;
        font-size: 14px;
        margin-bottom: 15px;
        color: rgb(231, 184, 115);
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 501;
    }
    
    .main .slider .slides.current .subtitle {
        animation: fadeInUp 1s linear forwards 1;
        animation-delay: 1s;
    }
    
    .main .slider .slides .title-box .pattern-image img {
        max-width: 100px;
        transition: 1s linear;
        opacity: 0;
    }
    
    .main .slider .slides.current .title-box .pattern-image img {
        animation: fadeInUp 1s linear forwards 1;
        animation-delay: 1s;
    }
    
    .main .prev {
        position: absolute;
        color: #fff;
        top: 50%;
        left: 3%;
        transform: translateY(-50%);
        z-index: 99;
        font-size: 1.5em;
        padding: 10px 17px;
        border: 1px solid rgb(243, 209, 147);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s ease-in-out;
        cursor: pointer;
        transform: rotate(45deg);
        height: 50px;
        width: 50px;
    }
    
    .left__icon {
        transform: rotate(-45deg);
        color: rgb(243, 209, 147);
    }
    
    .right__icon {
        transform: rotate(-45deg);
        color: rgb(243, 209, 147);
    }
    
    .main .next {
        position: absolute;
        color: #fff;
        top: 50%;
        right: 3%;
        transform: translateY(-50%);
        z-index: 99;
        font-size: 1.5em;
        font-weight: 600;
        border: 1px solid rgb(243, 209, 147);
        padding: 10px 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s ease-in-out;
        cursor: pointer;
        transform: rotate(45deg);
        height: 50px;
        width: 50px;
    }
    
    .right {
        background-color: white;
        height: 10px;
        width: 10px;
    }
    
    .left {
        background-color: white;
        height: 10px;
        width: 10px;
    }
    
    .main .btn-style-two {
        position: absolute;
        color: #fff;
        bottom: 15%;
        left: 44%;
        transform: translateX(-50%);
        z-index: 99;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        background: transparent;
        transition: 1.2s linear;
        opacity: 0;
    }
    
    .main .btn-style-two {
        animation: fadeInUp 1.2s linear forwards 1;
        animation-delay: 1.2s;
    }
    
    @-webkit-keyframes fadeInUp {
        0% {
            opacity: 0;
            -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
    
    .centered {
        text-align: center;
        color: white;
    }
    
    .main .book-btn {
        transform: scale(1);
        bottom: 50px;
        height: 110px;
        position: absolute;
        right: 50px;
        width: 110px;
        z-index: 10;
    }
    
    .main .book-btn a {
        background: rgb(208, 176, 117);
        color: black;
        display: block;
        height: 110px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 12px;
        position: relative;
        text-align: center;
        width: 110px;
        z-index: 1;
        bottom: 0;
        left: 0;
        text-decoration: none;
    }
    
    .main .book-btn::before {
        border: 1px solid rgb(208, 176, 117);
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 100%;
    }
    
    .main .book-btn::before {
        animation-name: rotateme;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
    @keyframes rotateme {
        0% {
            transform: rotate(0deg);
            opacity: 1;
        }
        50% {
            transform: rotate(-180deg);
        }
        100% {
            transform: rotate(-360deg);
            opacity: 1;
        }
    }
    
    .main .book-btn a .icon {
        display: block;
        margin-bottom: 7px;
        position: relative;
    }
    
    .main .book-btn a .txt {
        color: black;
        display: block;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: .15em;
        line-height: 1.5em;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
    }